/* general */
*{
    color: darkblue;
    text-decoration: none;
    font-family:'Sunflower', sans-serif ;
}
a{
    cursor: cell;
    width: 5%;
}
.absolute{
    position: absolute;
    z-index: 1;
    left: 0;
}
.absolute-right{
    position: absolute;
    z-index: 1;
    right: 0;

}
.underline{
    text-decoration: underline;
}
.green{
    color: rgb(38 60 225 / 85%);
}
html{
    margin: 0px auto;
    background-color: transparent;
}
body{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: white;
}
main> span{
    position: fixed;
    text-align: center;
    font-size: larger;
    color: #04185e;
    padding-top: 16px;
}
/* header */
header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    height:max-content;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.992);
    color: rgb(52, 118, 240);
}
.link > a {
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    /* color: rgba(9, 188, 242, 0.975); */
    background-color: #AECFFF;
    border: 3px solid navy;
    padding: 15px;
    align-self: center;
    border-radius: 5px 30px 30px 5px;
    transition: background-color  200ms ease;
    
}
.link > a:hover{
    background-color:#E0EEED;
    color: rgb(9, 5, 45);
    border-radius: -116%;
}
#logo{
    width: 10%;
    /* border-radius: 90% 200px / 50% 100px; */
    mix-blend-mode: unset;
    border: none;
    
    
}
/* main */
main{
    display: block;
}
.container-intro{
    margin-top: 9em;
    padding: 3rem 4px;
    padding-bottom: 2em;
    display: flex;
    margin-bottom: 0px auto;
    align-items: center;
    justify-content: space-around;
    background-color:#AECFFF ;
    
}
#intro-img{
    background-color: transparent;
    width: 100%;
    box-shadow: inset 0px -15px 1px;
    

}
.intro-text{
    flex-basis: 50%;
    max-width: 50%;
    font-size: xx-large;
    text-align: center;
    
    
}
.intro-img{
    flex-basis: 50%;
    max-width: 50%;
}
.intro-text> button{
    padding: 7px ;
    border-style: none;
    background-color: rgb(52, 118, 240);
    color: darkblue;
    border-radius: 5% 7% / 20% 20% ;
    font-size: large;
    font-weight: 600;
    cursor: cell;
}
.join-class{
    transition: background-color 300ms ease;
    border-radius: 20%;
    background: transparent;
    
}
.join-class:hover{
    background-color:rgb(39 166 125 / 98%);

}
.container-double{
    display: grid;
    gap: 10px;
    grid-template-columns: 45vw 45vw;
    align-items: center;
    justify-content: center;
    background-color:#AECFFF;
    padding: 1.2em 0;
    padding-top: 40px;
    border: 1px solid navy;
    /* border-radius: 40px/30px; */
    /* background: url('./casual-life-3d-stationery-2.png') fixed  center center;
    background-size: cover; */
    
    
}
.container-services{
    background-color: #AECFFF;
    padding-top: 30px;
    border-radius: 44px;
background: #AECFFF;
box-shadow:  5px 5px 10px #AECFFF,
             -5px -5px 10px #AECFFF
              5px 5px 20px #99b6e0,
             -5px -5px 20px #c3e8ff;;

    border: 2px solid saddlebrown;
    border-radius: 50px ;
    word-wrap: break-word;
    text-align: center;
    
    
}
.container-services>h3{
    font-size: x-large;
    
}
.container-services>ul{
    font-size: clamp(1rem, 2.5vw, 1.5rem); 
    text-align: start;
    
}
.container-services>ul>li{
    line-height: 36px;
}
.container-payment{
    /* background-color:#007589; */
    padding-top: 10px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 44px;
/* background: #007589;
box-shadow:inset  5px 5px 10px #005564,
           inset  -5px -5px 10px #0095ae; */
    text-align: center;
    border: 2px solid #007589;
    border-radius: 30px;
    font-size: clamp(1rem, 2.5vw, 1.5rem); 
    padding-bottom: 2px;

}
.container-payment>span > a {
    color: rgb(11 0 255 / 94%);
    text-decoration: underline;
    font-weight: 100;
}
.container-founder{
    padding:  15px 2px;
    margin: 5px;
    background-color:rgb(9 30 148 / 91%);
    color: skyblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    

}
.img{
    /* width: 30vw; */

    
     
    
    border-radius: 50%;
    
}
.con-img{
    text-align: center;
}
.con-img h2{
    color: skyblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3em;
    padding: 20px;
    text-decoration: wavy darkblue;
}
.img .worker img {
    
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #007589;
    box-shadow: inset 5px 5px 10px #005564,
                inset -5px -5px 10px #0095ae;
}
.img .worker{
    max-width: 25%;
    padding: 15px;
}
.container-founder> .text{
    max-width: 70%;
    line-height: 40px;
    padding: 3px;
    font-size: x-large;
    border-radius: 50px;
    /* border: 1px solid black; */
    font-size: clamp(1rem, 2.5vw, 1.5rem); 
    /* background: #00748949; */
    box-shadow: inset 5px 5px 10px #00556415,
    inset -5px -5px 10px #0094ae38;
    color: skyblue;
    
    line-height: 40px;
    
}
.container-founder #overide >h2,.container-founder #overide >h3,.container-founder #overide time, .container-founder #overide  strong {
    color: skyblue;
}
.container-founder .con-img .img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
figcaption{
    font-weight: bolder;
    font-size: large;
    color: skyblue;
    padding-top: 5px;
    text-align: center;
}
.container-founder #overide h3  strong{
    color: royalblue;
    font-size: x-large;
    font-family: 'Big Shoulders Display', cursive;
    /* background: linear-gradient( rgba(16, 4, 62, 0.696) 30%, rgba(6, 42, 101, 0.564) 30% 55% , rgb(59, 83, 222) 55% 75%, orange 75% );
    background-clip: text;
    -webkit-background-clip: text; */
    
}
/* youtube section */
.youtube-videosection{
    background-color: inherit;
    background: url("./IMG-20221128-WA0007.jpg" )center fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 51px;
    font-size: x-large;
    font-family: fantasy;
    text-align: center;

}
.youtube-videosection .youtube-videocontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  

}
.youtube-videosection .youtube-videocontainer .video{
    width: auto;
    margin: 15px;
    flex-basis: 30%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 7px;
    background-color: #7D9ECC;
    text-align: start;
    text-transform: capitalize;
}

iframe{
    width: 420px;
}
/* annoucement */
.announcement{
    padding: 15px 0;
    font-size: clamp(10px,30px,50px);
    /* background: url('./read.png') fixed center center ;
    background-size: cover; */
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 10px;
}
.announcement>.another{
    border-radius: 10px/20px;
    background-color: #7D9ECC;
    
    padding-bottom:5px ;

}
.announcement>.another>ol>li{
    padding: 15px;
}
.announcement>.another> ol  button{
    font-size: clamp(20px,30px ,100px);
    padding: 7px ;
    
    border-style: none;
    background-color: rgba(23, 216, 100, 0.934);
    color: darkblue;
    border-radius: 5% 7% / 20% 20% ;
    font-size: large;
    font-weight: 600;

}
/* footer */
footer{
    height: fit-content;
    background-color: #003259ca;
    color:rgb(232, 236, 242);
    display: flex;
    justify-content: center;
    /* background: url("./image1.png") fixed center center;
    background-size: cover; */
    margin-top: 0;
    align-items: center;
}
.footer-container{
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.contact, .email{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: aliceblue;
    padding: 10px;
    margin: 10px;

    
}
.contact>div , .email>div{
    color: aliceblue;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
} 
/* .contact a , .email a{
    color: aliceblue;
    border: 2px solid blue;
    border-radius: 30px;
    padding: 15px;
    background-color: #AECFFF;
    cursor: cell;
} */
.social{
    display: flex;
    /* justify-content: center; */
    flex-direction: column-reverse;
    align-items: center;
    
}
.social>div{
    padding: 15px;
}
.social>div>button{
    padding: 5px;
    font-weight: bold;
    background-color: #005564;
    color: aliceblue;
    border: 3px solid rgba(9, 188, 242, 0.975);
    padding: 10px;
    align-self: center;
    border-radius: 20%/10px;
    transition: background-color border-radius 200ms ease;
    cursor: cell;
}
footer h6 {
    color: rgba(219, 223, 227, 0.603);
    font-weight: bold;
    font-size: medium;
    text-align: center;
}
.sunday{
    /* height: 15rem; */
    background-color: #aeceff37;
    color: blue;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.sunday> h4{
    text-align: center;
    font-size: 40px;
    padding-bottom: 0px;
    
}
.sunday p{
    font-size: 25px;
    text-align: center;
}
.sunday button{
    padding: 15px;
    border: none;
    text-align: center;
    padding-bottom: 2px;
    align-self: center;
    border-radius: 15px 0px 10px 0px;
    box-shadow: 5px 5px 10px whitesmoke,
    5px 7px 0 2px whitesmoke,
    5px 5px 10px 2px whitesmoke,
    5px 5px 10px whitesmoke,
    inset 5px 5px  0 white;
}
.sunday button:hover{
    background-color: blue;
    color: whitesmoke;
    box-shadow: 5px 5px 10px rgba(59, 59, 192, 0.653),
    5px 7px 0 2px rgba(59, 59, 192, 0.653),
    5px 5px 10px 2px rgba(59, 59, 192, 0.653),
    5px 5px 10px rgba(59, 59, 192, 0.653),
    inset 5px 5px  0 rgba(0, 0, 245, 0.96);
}
.sunday button:hover a:hover{
    color: whitesmoke;
}
.sunday a{
    font-weight: bolder;
    font-size: larger;
}
summary{
    font-size: large;
    color: #AECFFF;
}




/* media query */
@media  only  screen and (max-width:1200px){
    .img .worker{
        max-width: 50%;
        padding: 15px;
    }
}
@media  only  screen and (max-width:800px){
    /* header{ 
        
    }*/
    #logo{
        width: 10%;
    }
    header{
        height:max-content;
    }
    .link > a{
        font-size: large;
        padding: 7px;
        border-radius: 5px 30px 30px 5px;
    }
    /* main */
    .container-intro{
        margin-top: 6em;
        justify-content: center;
        flex-wrap: wrap-reverse;
    
    }
    #intro-img{
        background-color: transparent;
    
    
    }
    .intro-img{
        flex-basis: 100%;
        max-width: 100%;
    }
    .intro-text{
        flex-basis: 80%;
        max-width: 80%;
        text-align: center;
        font-size: medium;
        padding-left: 3px;
    }
    .intro-text>h3::first-letter{
        margin-left: 0rem;
    }
    .intro-text> button{
        padding: 5px;
        font-size: medium;
    }
    .container-double{
        display:block;
        padding-right: 3px;
        padding-left: 3px;
    
        
    }
    .container-services{
        background-color: #AECFFF;
        padding-top: 30px;
        height: 50%;
        border: 3px solid saddlebrown;
        border-radius: 5px ;
        margin-bottom: 30px;
        
    }
    .container-payment{
        /* background-color: #007589; */
        padding-top: 12px;
        padding-bottom: 9px;
        font-size: medium;
        border: 3px solid #007589;
        border-radius:5px;
    
    }
    .img .worker img{
        width: 270px;
        height: 270px;
        transform: translate(50% 50%);
        border-radius:50%;
        background: #007589;
        box-shadow: inset 5px 5px 10px #005564,
                    inset -5px -5px 10px #0095ae;
    }
    .img .worker{
        max-width: 100%;
        padding: 15px;
    }
    .container-founder> .text{
        max-width: 90%;
        text-align: center;
        
        line-height: 30px;
        font-size:large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

     
        
    }
    footer{
        
        background-color: rgba(0, 0, 0, 0.749);
        color:rgb(52, 118, 240);
        display: flex;
        justify-content: center;
        background: url("./image1.png") fixed center center;
        background-size: cover;
        margin-top: 0;
        align-items: center;
    }
    .footer-container{
        background-color: rgba(1, 14, 14, 0.877);
        width: 100%;
        
        
    
    }
    .contact, .email{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        color: aliceblue;
        padding: 5px;
        padding-left: 0px;
        margin: 5px;
        margin-left: 0px;
    
        
    }
    .contact>div , .email>div{
        color: aliceblue;
        font-weight: bold;
        padding-top: 5px;

        padding-bottom: 15px;
    }
    .contact:first-child{
        padding-right: 3px;
    }
}
@media  only  screen and (max-width:390px){
    #logo{
        width: 20%;
    }
}
@media only screen and (max-width:920px) and (min-width:600px) {
    .link > a{
        font-size: large;
        padding: 10px;
        border-radius:  5px 30px 30px 5px;
    }
    .intro-text{
        width: 25rem;
        font-size: x-large;
        text-align: center;
        
    }



    
}
@media  only  screen and (min-width:1200px){
    #logo{
        width: 8%;
    }

}